-- CreateTable
CREATE TABLE `demandas` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `usuario_id` INTEGER NOT NULL,
    `tipo` VARCHAR(100) NOT NULL,
    `descricao` TEXT NULL,
    `status` VARCHAR(50) NULL DEFAULT 'aberta',
    `data_criacao` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `usuario_id`(`usuario_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `estados_conversa` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `nome` VARCHAR(100) NOT NULL,
    `descricao` TEXT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `usuarios` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `nome_completo` VARCHAR(255) NOT NULL,
    `cpf` CHAR(11) NOT NULL,
    `telefone` VARCHAR(20) NOT NULL,
    `data_nascimento` DATE NULL,
    `id_whatsappwebjs` VARCHAR(255) NOT NULL,
    `estado_conversa_id` INTEGER NULL,

    UNIQUE INDEX `cpf`(`cpf`),
    UNIQUE INDEX `id_whatsappwebjs`(`id_whatsappwebjs`),
    INDEX `estado_conversa_id`(`estado_conversa_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `demandas` ADD CONSTRAINT `demandas_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `usuarios` ADD CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`estado_conversa_id`) REFERENCES `estados_conversa`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

